@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Major League Soccer</h1>
    <p class="lead">¡Gestione de una mejor manera el registro de sus jugadores y salarios que actualmente devengan!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Carga manual</h2>
        <p>Cargar jugadores manualmente</p>
        <p>@Html.ActionLink("Ir ahora", "Index", "Persona")</p>
    </div>
    <div class="col-md-4">
        <h2>Carga de archivos</h2>
        <p>Cargar jugadores en base a un archivo CVS</p>
        <p>@Html.ActionLink("Cargar archivo", "Index", "CVS")</p>
    </div>
</div>